* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9896f1;
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    background-color: #e6e6e6;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    height: 90px;
    width: 180px;
    border-radius: 10px; 
    margin-top: -75px;
    border: #e6e6e6 8px solid;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 35vh;
}
.visual{
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 15px;
    margin: 20px;
    background: #e6e6e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.set{
    display: flex;
    justify-content: center;
    align-items: center;
}
.key{
    height: 50px;
    width: 50px;
    border: 1px rgba(190, 180, 180, 0.637) solid;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(88, 88, 88, 0.637);
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 50px;
}
.key.active{
    background: radial-gradient(#6c69eb, #9896f1);
    color: white;
}
.recordings{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: auto;
    padding-top: 20px;
}
.contain-recorder, .user-beats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.recorder{
    display: flex;
}
#record{
    height: 30px;
    width: 30px;
    background-color: rgb(79, 206, 79);
    border-radius: 100%;
}
#delete{
    height: 30px;
    width: 30px;
    background-color: red;
    
}
.btn{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
button{
    border: none;
}
#record.active{
    background-color: red;
}
.play, .save{
    display: none;
}
.play.show, .save.show{
    display: block ;
}
.recorder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 250px;
    border: rgba(88, 88, 88, 0.637) 2px solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}
.b-name{
    border: none;
    text-align: center;
    font-family: sans-serif;
    background-color: #e6e6e6;
    font-size: 18px;
}
.record-buttons{
    display: flex;
}
h1, h3{
    font-family: sans-serif;
    color: #9896f1;
}

.beat-play, .beat-delete{
    border: 1px black solid;
    border-radius: 50%;
    margin: 10px;
}
.beat-play:hover{
    background-color: rgb(79, 206, 79);
}
.beat-delete:hover{
    background-color: red;
}
.user-beats{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}